<main>
  <div class="container">


    <h1 class="mt-4"><b>Consultants List</b></h1><span><button [routerLink]="['/add']">add new consultant</button></span>
    <br>
    <br>
    <br>
    <p></p>

    <div class="row mb-5 text-center">
      <div class="col-4 themed-grid-col"><b>Consultant</b></div>
      <div class="col-4 themed-grid-col"><b>Mail</b></div>
      <div class="col-4 themed-grid-col"><b>Tél</b></div>

    </div>

    <div class="row mb-4 text-center">
      <div class="col-sm-4 themed-grid-col">.col-sm-4</div>
      <div class="col-sm-4 themed-grid-col">.col-sm-4</div>
      <div class="col-sm-4 themed-grid-col">.col-sm-4</div>

    </div>

    <div class="row mb-4 text-center">
      <div class="col-md-4 themed-grid-col">.col-md-4</div>
      <div class="col-md-4 themed-grid-col">.col-md-4</div>
      <div class="col-md-4 themed-grid-col">.col-md-4</div>

    </div>

    <div class="row mb-4 text-center">
      <div class="col-lg-4 themed-grid-col">.col-lg-4</div>
      <div class="col-lg-4 themed-grid-col">.col-lg-4</div>
      <div class="col-lg-4 themed-grid-col">.col-lg-4</div>

    </div>

    <div class="row mb-4 text-center">
      <div class="col-xl-4 themed-grid-col">.col-xl-4</div>
      <div class="col-xl-4 themed-grid-col">.col-xl-4</div>
      <div class="col-xl-4 themed-grid-col">.col-xl-4</div>

    </div>

    <div class="row mb-4 text-center">
      <div class="col-xxl-4 themed-grid-col">.col-xxl-4</div>
      <div class="col-xxl-4 themed-grid-col">.col-xxl-4</div>
      <div class="col-xxl-4 themed-grid-col">.col-xxl-4</div>

    </div>


  </div>

</main>


