.themed-grid-col{
  column-count: 5;
}
button
{
  background-color: orange;
  padding: 10px;
  margin-left:1000px;
  margin-bottom: 10px;
  color: white;
  border-color: orange;
  border-style: none;
}

button:hover{
  background-color:white;
  padding: 10px;
  margin-left:1000px;
  margin-bottom: 10px;
  color: black;
  border-color: black;
  border-style: none;
}

h1{
  padding-top: 18px;
}
