<div class="container">


    <h1 class="mt-4"><b>Consultants List</b></h1>



   <span><button [routerLink]="['/add']">Add new consultant</button></span>
    <br>
    <br>
    <br>
    <p></p>

    <div class="row mb-5 text-center">
      <div class="col-4 themed-grid-col"><b>Prénom</b></div>
      <div class="col-4 themed-grid-col"><b>Mail</b></div>
      <div class="col-4 themed-grid-col"><b>Tél</b></div>

    </div>

    <div class="row mb-4 text-center">
      <div class="col-sm-4 themed-grid-col">Yoan</div>
      <div class="col-sm-4 themed-grid-col">consultant@gmail.com</div>
      <div class="col-sm-4 themed-grid-col">+216 90090099</div>

    </div>

    <div class="row mb-4 text-center">
      <div class="col-md-4 themed-grid-col">Nicole</div>
      <div class="col-md-4 themed-grid-col">consultant@gmail.com</div>
      <div class="col-md-4 themed-grid-col">+216 90090099</div>

    </div>

    <div class="row mb-4 text-center">
      <div class="col-lg-4 themed-grid-col">Alice</div>
      <div class="col-lg-4 themed-grid-col">consultant@gmail.com</div>
      <div class="col-lg-4 themed-grid-col">+216 90090099</div>

    </div>

    <div class="row mb-4 text-center">
      <div class="col-xl-4 themed-grid-col">Jean</div>
      <div class="col-xl-4 themed-grid-col">consultant@gmail.com</div>
      <div class="col-xl-4 themed-grid-col">+216 90090099</div>

    </div>

    <div class="row mb-4 text-center">
      <div class="col-xxl-4 themed-grid-col">Paul</div>
      <div class="col-xxl-4 themed-grid-col">.consultant@gmail.com</div>
      <div class="col-xxl-4 themed-grid-col">+216 90090099</div>

    </div>


  </div>

  <nav aria-label="Page navigation example" >
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" [routerLink]="['/']" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" [routerLink]="['/']">1</a></li>
      <li class="page-item"><a class="page-link" [routerLink]="['/']">2</a></li>
      <li class="page-item"><a class="page-link" [routerLink]="['/']">3</a></li>
      <li class="page-item">
        <a class="page-link" [routerLink]="['/']" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>




