<h3><b>add a consultant</b></h3>

<form>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Name*</label>
    <input type="name" class="form-control" id="exampleInputPassword1" placeholder="consultantname" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address*</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="emailadress@gmail.com" required>

  </div>
  <br>
  <br>

  <button type="submit" class="btn btn-primary">confirm</button>
  <button type="cancel" class="btn btn-secondary" [routerLink]="['/']">cancel</button>
</form>
<!--<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title"
          id="modal-basic-title">
          Geeks of Geeks
      </h4>
      <button type="button" class="close"
              aria-label="Close" (click)=
              "modal.dismiss('Cross click')">

          <span aria-hidden="true">
              ×
          </span>
      </button>
  </div>
  <div class="modal-body">
      <form>
          <div class="form-group">
              <label for="dateOfBirth">
                  Date of birth
              </label>
              <div class="input-group">
                  <input id="dateOfBirth"
                      class="form-control"
                      placeholder="yyyy-mm-dd"
                      name="dp" ngbDatepicker
                      #dp="ngbDatepicker">

                  <div class="input-group-append">
                      <button class="btn
                          btn-outline-secondary calendar"
                          (click)="dp.toggle()"
                          type="button">
                      </button>
                  </div>
              </div>
          </div>
      </form>
  </div>
  <div class="modal-footer">
      <button type="button"
          class="btn btn-outline-dark"
          (click)="modal.close('Save click')">
          Save
      </button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary"
  (click)="open(content)">
  Popup using Angular and Bootstrap
</button>-->
